.l-nav{
    background-color: #34495e;
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 99;
    > h1{
        display: inline-block;
        font-size: 2rem;
        padding-left: 2rem;
        color: white;
    }
    > ul{
        display: block;
        float: right;
        line-height: 3rem;
        > li{
            display: inline-block;
            padding-right: 50px;
            > a{
                color: white;
            }
            > a:hover{
                color: #f1c40f;
            }
        }
    }
}
.l-subscription{
    width: 100%;
    background-color: #34495e;
    line-height: 4;
    > .l-subscription-now{
        color: white;
        font-size: 1.5rem;
        letter-spacing: 4px;
        display: inline-block;
        padding-left: 7rem;
        font-weight: bold;
    }
}
.l-btn{
    background-color: none;
    transition: 0.5s;
}
.l-btn:hover{
    background-color: #d63031;
    transition: 0.5s;
}
.l-big-btn-size{
    border: 5px solid white;
    width: 23%;
    float: right;
    justify-content: center;
    color: white;
    margin: 1.5% 12%;
    > span{
        text-align: center;
        display: block;
        font-size: 2rem;
        letter-spacing: 8px;
        line-height: 3rem;
    }
}
.l-mid-btn-size{
    width: 80%;
    border: 5px solid #34495e;
    text-align: center;
    color: white;
    margin: 0 auto;
    > a{
        font-size: 2rem;
        letter-spacing: 8px;
        line-height: 3rem;
        color: #34495e;
    }
}
.l-basicInformation{
    background-color:#e74c3c;
    padding: 2rem 10rem;
    > ul{
        display: inline-block;
        color: white;
        > li{
            font-size: 0.9rem;
        }
    }
    > .l-basicInformation-icon{
        display: block;
        color: white;
        float: right;
        > .l-mySelf{
            display: block;
            color: rgb(114, 136, 179);
            font-size: 0.9rem;
            line-height: 1.8rem;
        }
    }
}