// 優惠
.page{
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
  }
  .col{
    flex: 1;/*會使內容分等分*/
    height: 100vh;
    position: relative;
  }
  .countdownCol{
    background: url(https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) no-repeat center;
    background-size: cover;
  }
  .time{
    color: #fff;
    text-transform: uppercase;
    width: 90%;
    display: flex;
    justify-content: center;/*順著父元素的主軸做排列。center為置中*/
  }
  .fuckOffer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .time span{
    padding: 0 14px;
    font-size: 10px;
  }
  .time span div{
     font-size: 40px;
  }
  .newsletter{
    width: 90%;
  }
  .newsletter h4{
    font-style: italic;
    font-size: 12px;
  }
  .newsletter input{
    display: block;
    margin: 12px auto;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 14px 20px;
    border-radius: 30px;
    border: 1px solid #ddd;
    outline: none;
  }
  .newsletterBtn{
    background: linear-gradient(125deg, #3498db, #34495e);/*從125度的地方開始變色*/
    color: #fff;
    cursor: pointer;
    transition:0.4s;
  }
  .newsletterBtn:hover{
    opacity: .7;
  }
  @media screen and (max-width: 900px){
    .col{
      flex: 100%;
    }
  }